* {
    padding: 0;
    margin: 0;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    height: 40px;
    max-width: 100%;
    overflow-x: hidden;
    background: rgb(100, 120, 150);
}

.nav-center h4 {
    text-transform: capitalize;
    color: cyan;
    font-size: 30px;
}

.nav-link li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
    margin-right: 25px;
}

.nav-link li {
    display: inline-block;
    list-style: none;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:480px) {
    main {
        position: relative;
    }
    .nav-center h4 {
        font-size: 17px;
    }
    .nav-link li {
        display: inline;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .nav-link {
        margin-left: 20px;
    }
    .nav-link li a {
        font-size: 15px;
    }
    main .container h2 {
        font-size: 20px;
        padding: 5px 15px;
    }
    main .container button {
        padding: 5px 14px;
        font-size: 15px;
    }
}

.color {
    color: darkseagreen;
}

main {
    max-width: 100%;
    overflow-x: hidden;
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translatey(165%);
}

.container h2 {
    font-size: 27px;
    background: black;
    color: white;
    text-transform: capitalize;
    padding: 1% 7%;
    margin-bottom: 20px;
    border-radius: 8px;
}

main .container button {
    background: white;
    padding: 5px 40px;
    border-radius: 5px;
    font-size: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}